# logging
FUI_LOG_LEVEL=INFO
FUI_UVICORN_LOG_LEVEL=info

# data source
FUI_DATA_SOURCE=frida

# device
FUI_DEVICE=usb
FUI_PACKAGE=com.PlapPlap.FridaTestingEnv
FUI_SPAWN=true

# hosting
FUI_HOST=localhost
FUI_PORT=8000
FUI_WEB_APP=unity_editor