# Windows game (this PC, no phone/ADB)

# logging
FUI_LOG_LEVEL=INFO
FUI_UVICORN_LOG_LEVEL=info

# data source
FUI_DATA_SOURCE=frida

# frida
#FUI_UNITY_VERSION=6000.0.63f1 # - ONLY SET IF IL2CPP BRIDGE FAILS TO LOAD. Otherwise, leave it commented out and the inspector will try to detect it automatically.

# device - windows - attach
# When in attach mode/spawn=false. Just need the executable name in package.
FUI_DEVICE=local
FUI_PACKAGE=FridaTestingEnv.exe
FUI_SPAWN=false
FUI_KILL_ON_STOP=true

# device - windows - spawn
# When in spawn mode/spawn=true. Need full path to executable, so it can start the app.
#FUI_DEVICE=local
#FUI_PACKAGE=C:\Users\----\PycharmProjects\frida-unity-inspector\unity_apps\windows\FridaTestingEnv.exe
#FUI_SPAWN=true
#FUI_KILL_ON_STOP=true

# hosting
FUI_HOST=localhost
FUI_PORT=8000
FUI_WEB_APP=unity_editor
